<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            category="Chaupal"
            class="org.chaupal.jp2p.ui.template.rcp.RcpBundleWizard"
            icon="images/chaupal.png"
            id="org.chaupal.jp2p.ui.rcp.content"
            java="true"
            name="RCP Reference for JP2P "
            pureOSGi="false"
            rcp="true"
            requiresActivator="false"
            ui-content="true">
      </wizard>
      <wizard
            category="JXSE 2.7x"
            class="org.chaupal.jp2p.ui.template.rdv.Jp2pRdvBundleWizard"
            icon="images/sun_jxta_16.gif"
            id="net.jp2p.chaupal.rdv.content"
            java="true"
            name="JXSE Bundle RDV Project"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            %pluginContent.templates.jxse.description
         </description>
      </wizard>
      <wizard
            category="JXSE 2.7x"
            class="org.chaupal.jp2p.ui.template.edge.Jp2pEdgeBundleWizard"
            icon="images/sun_jxta_16.gif"
            id="net.jp2p.chaupal.rdv.content"
            java="true"
            name="JXSE Bundle Edge Project"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            %pluginContent.templates.jxse.description
         </description>
      </wizard>
      <wizard
            category="Practical JXTA 2"
            class="org.chaupal.jp2p.ui.template.pj2.Jp2pPJ2BundleWizard"
            icon="images/pj2-16.png"
            id="net.jp2p.chaupal.practical.jxta.content"
            java="true"
            name="Practical JXTA II Examples Project"
            pureOSGi="true"
            rcp="false"
            requiresActivator="false"
            ui-content="false">
         <description>
            %pluginContent.templates.jxse.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="org.chaupal.jp2p.ui.template.config.JxseConfigurationTemplateSection"
            contributingId="net.jp2p.chaupal.content.pluginwizard"
            icon="images/sun_jxta_16.gif"
            id="net.jp2p.chaupal.config.template"
            name="JXSE 2.7x Config Bundle Project Wizard">
      </template>
      <template
            class="org.chaupal.jp2p.ui.template.project.AbstractJp2pTemplateSection"
            contributingId="net.jp2p.chaupal.project.content"
            icon="images/sun_jxta_16.gif"
            id="net.jp2p.chaupal.project.template"
            name="JXSE 2.7x Bundle Project Wizard">
      </template>
      <template
            class="org.chaupal.jp2p.ui.template.rdv.RdvTemplateSection"
            contributingId="net.jp2p.chaupal.rdv.content"
            icon="images/sun_jxta_16.gif"
            id="net.jp2p.chaupal.rdv.template"
            name="JXSE Rendezvous Template">
      </template>
      <template
            class="org.chaupal.jp2p.ui.template.pj2.PJ2ExamplesTemplateSection"
            contributingId="net.jp2p.chaupal.practical.jxta.content"
            icon="images/pj2-16.png"
            id="net.jp2p.chaupal.project.template"
            name="Practical JXTA II Example Project Wizard">
      </template>
      <template
            class="org.chaupal.jp2p.ui.template.rcp.RcpTemplateSection"
            contributingId="org.chaupal.jp2p.ui.rcp.content"
            icon="images/chaupal.png"
            id="org.chaupal.jp2p.ui.rcp.template"
            name="Chaupal RCP Tooling Template">
      </template>
   </extension>

</plugin>
