<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.core.targets">
      <target
            definition="chaupal.target"
            id="org.chaupal.jp2p.ui.config.target1"
            name="Chaupal target">
      </target>
   </extension>

</plugin>
